@font-face {
	font-family: "ITC Eras Light";
	src: url('itc-eras-light.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
	font-size: 14px;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 10px;
	color: #fff;
	background-color: #444;
}

.settings-panel {
	background-color: #666;
	padding: 10px;
	margin-bottom: 10px;
	height: 40px;
}

.map-input {
	font-weight: bold;
	width: 127px;
}

.fillers-input {
	font-weight: bold;
	width: 127px;
}

.numbers-panel {
	display: flex;
	justify-content: space-between;
}

.number-panel {

}

.number-input {
	font-weight: bold;
	width: 33px;
}

.number-button {
	width: 80px;
}

.results-panel {
	margin-top: 10px;
	background-color: #222;
	color: #fff;
	height: calc(100% - 100px);
	overflow: auto;
}

.result-item {
	margin: 5px;
}

a {
	color: #fff;	
}
