<html ng-app="mainApp">
	<head>
		<title>Num2Text</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="Num2Text"/>
		<meta name="keywords" content="Num2Text"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script src="lib/angular.min.js"></script>
		<script src="js/main-app.js"></script>
		<script src="js/word-list.js"></script>
		<script src="js/main-serv.js"></script>
		<script src="js/main-ctrl.js"></script>
	</head>
	<body ng-controller="mainCtrl">
		<div id="main-panel" class="main">
			<div>
				<div class="settings-panel">
					<span class="title">Num2Text</span>
					<span>0123456789:</span>
					<input type="text" ng-model="model.map" class="map-input"></input>
					<span>Fillers:</span>
					<input type="text" ng-model="model.fillers" class="fillers-input"></input>
				</div>
				<div class="numbers-panel">
					<div ng-repeat="number in model.numbers" class="number-panel">
						<span>Number:</span>
						<input type="text" ng-model="number.number" class="number-input"></input>
						<button ng-click="go(this)" class="number-button">Num2Text</button>
						<div class="results-panel">
							<div ng-repeat="result in number.results" class="result-item">
								{{result}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

